* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary: #4F46E5; /* Azul vibrante */
    --dark: #111827; /* Preto azulado sofisticado */
    --light: #F9FAFB; /* Branco suave */
    --gray: #6B7280; /* Cinza neutro */
    --accent: #14B8A6; /* Verde água moderno */
}


body {
    background-color: var(--light);
    color: var(--dark);
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}